.ezy__epcheckout7_WIEp2n5P-image {
	min-width: 50px;
	width: 50px;
	height: auto;
	background-color: rgb(var(--ezy-secondary-color-rgb), .03);
	border: 1px solid rgba(var(--ezy-secondary-color-rgb), .05);
	border-radius: 4px;
	overflow: hidden;
}

@media (min-width: 768px) {
	.ezy__epcheckout7_WIEp2n5P-image {
		min-width: 120px;
		width: 120px;
	}
}

.ezy__epcheckout7_WIEp2n5P-qty {
	width: 95px;
}

.ezy__epcheckout7_WIEp2n5P-qty .btn {
	font-size: 13px;
	font-weight: bold;
	color: rgb(var(--ezy-theme-color-rgb));
	padding: 0;
	border-radius: 0 !important;
	border: none;
	width: 30px;
	height: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.ezy__epcheckout7_WIEp2n5P-qty .btn:hover {
	background-color: rgb(var(--ezy-theme-color-rgb));
	color: var(--ezy-button-color);
}

.ezy__epcheckout7_WIEp2n5P-qty .form-control {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	color: var(--bs-body-color);
}

.ezy__epcheckout7_WIEp2n5P-qty .input-group-text,
.ezy__epcheckout7_WIEp2n5P-qty .form-control {
	border-color: rgb(var(--ezy-secondary-color-rgb), .7);
	background-color: transparent;
	height: 40px;
	border-radius: 8px !important;
	overflow: hidden;
}

.ezy__epcheckout7_WIEp2n5P-btn {
	border-color: rgb(var(--ezy-theme-color-rgb));
	background-color: rgb(var(--ezy-theme-color-rgb));
	color: var(--ezy-button-color);
}

.ezy__epcheckout7_WIEp2n5P-btn-outline {
	border-color: rgb(var(--ezy-theme-color-rgb));
	background-color: transparent;
	color: rgb(var(--ezy-theme-color-rgb));
}
.ezy__epcart4_5qxiUBozF_Q3qZ-card {
	background-color:  var(--bs-body-bg);
	border: none;
	border-radius: 10px;
  }
  .ezy__epcart4_5qxiUBozF_Q3qZ-btn{
	font-size: 14px;
    border-color: rgb(82, 94, 117);
    background-color: rgb(82, 94, 117);
    color: #fff;
    height: 42px;
    min-width: 42px;
  }
.ezy__epcheckout7_WIEp2n5P-btn-outline:hover,
.ezy__epcheckout7_WIEp2n5P-btn:hover {
	background-color: rgba(var(--ezy-theme-color-rgb), .9) !important;
	color: var(--ezy-button-color);
}

.ezy__epcheckout7_WIEp2n5P-del {
	width: 38px;
	height: 20px;
	background-color: transparent;
	color: var(--ezy-theme-color);
}

.ezy__epcheckout7_WIEp2n5P-del:hover {
	background-color: rgba(var(--ezy-secondary-color-rgb), .05);
	color: var(--ezy-theme-color);
}

.ezy__epcheckout7_WIEp2n5P-card {
	background-color: var(--ezy-card-bg);
	border: none;
	border-radius: 10px;
}

.ezy__epcheckout7_WIEp2n5P-hr {
	background-color: rgb(var(--ezy-secondary-color-rgb), .06);
	opacity: 1;
}

.ezy__epcheckout7_WIEp2n5P-promo-code .form-control {
	border-color: rgb(var(--ezy-secondary-color-rgb), 1);
	background-color: rgb(var(--ezy-secondary-color-rgb), .03);
	color: var(--bs-body-color);
	font-size: 14px;
	height: 38px;
}

.ezy__epcheckout7_WIEp2n5P-content {
	font-size: 14px;
	color: var(--bs-body-color);
}

.ezy__epcheckout7_WIEp2n5P-content a,
.ezy__epcheckout7_WIEp2n5P-card a {
	color: var(--ezy-theme-color);
}

.ezy__epcheckout7_WIEp2n5P-theme-color {
	color: rgba(var(--ezy-theme-color-rgb), 1);
}

input::placeholder {
	color: white; /* Màu placeholder khi input được focus */
	opacity: 0.8; /* Độ trong suốt của placeholder khi input được focus */
  }

.format-input {
	border-color: #212529;
}