<app-header></app-header>
<section class="ezy__eporder4_R2OSM3iL dark-gray">
    <div class="container py-5" style="height: 100vh;">
      <div class="row justify-content-center">
        <!-- progress bar -->
        <div class="col-12">
          <div class="ezy__eporder4_R2OSM3iL-progress d-flex justify-content-between position-relative mb-5">
            <span class="ezy__eporder4_R2OSM3iL-cart active">1</span>
            <span class="ezy__eporder4_R2OSM3iL-bill active">2</span>
            <span class="ezy__eporder4_R2OSM3iL-completed active">3</span>
          </div>
        </div>
        <div class="card border-0 py-5 mt-4">
          <div class="card-body text-center py-md-5">
            <div class="ezy__eporder4_R2OSM3iL-check">
              <i class="fas fa-check"></i>
            </div>
            <ng-container *ngIf="this.status == 'success'">
              <h1 class="ezy__eporder4_R2OSM3iL-heading my-3">Đơn hàng của bạn đã được thanh toán thành công</h1>
              <p class="ezy__eporder4_R2OSM3iL-sub-heading">
                Cảm ơn bạn vì đã ủng hộ chúng tôi, hi vọng bạn sẽ tiếp tục ủng hộ chúng tôi trong tương lai.
              </p>
            </ng-container>
            <ng-container *ngIf="this.status == 'failed'">
              <h1 class="ezy__eporder4_R2OSM3iL-heading my-3 text-danger">Thanh toán thất bại</h1>
              <p class="ezy__eporder4_R2OSM3iL-sub-heading">
                Rất tiếc, đơn hàng của bạn không thể hoàn tất. Vui lòng thử lại hoặc liên hệ với chúng tôi để được hỗ trợ.
              </p>
            </ng-container>
            
            <button class="btn ezy__eporder4_R2OSM3iL-btn mt-4" routerLink="/">Quay trở lại trang chủ</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>