
  .ezy__portfolio16 {
    /* Bootstrap variables */
    --bs-body-color: #15191e;
    --bs-body-bg: rgb(255, 255, 255);
  
    /* Easy Frontend variables */
    --ezy-theme-color: rgb(13, 110, 253);
    --ezy-theme-color-rgb: 13, 110, 253;
    --ezy-body-color-invert: rgb(246, 246, 246);
  
    background-color: var(--bs-body-bg);
    color: #181a1c;
    padding: 60px 0;
    position: relative;
    z-index: 1;
  }
  
  @media (min-width: 768px) {
    .ezy__portfolio16 {
      padding: 100px 0;
    }
  }
  
  /* Gray Block Style */
  .gray .ezy__portfolio16,
  .ezy__portfolio16.gray {
    /* Bootstrap variables */
    --bs-body-bg: rgb(246, 246, 246);
  
    /* Easy Frontend variables */
    --ezy-body-color-invert: rgb(255, 255, 255);
  }
  
  /* Dark Gray Block Style */
  .dark-gray .ezy__portfolio16,
  .ezy__portfolio16.dark-gray {
    /* Bootstrap variables */
    --bs-body-color: #ffffff;
    --bs-body-bg: rgb(30, 39, 53);
  
    /* Easy Frontend variables */
    --ezy-body-color-invert: rgb(11, 23, 39);
  }
  
  .dark .ezy__portfolio16,
  .ezy__portfolio16.dark {
    /* Bootstrap variables */
    --bs-body-color: #ffffff;
    --bs-body-bg: rgb(11, 23, 39);
  
    /* Easy Frontend variables */
    --ezy-body-color-invert: rgb(30, 39, 53);
  }
  
  .ezy__portfolio16-heading {
    font-weight: bold;
    font-size: 25px;
    line-height: 1.2;
    color: var(--bs-body-color);
  }
  
  @media (min-width: 768px) {
    .ezy__portfolio16-heading {
      font-size: 52px;
    }
  }
  
  .ezy__portfolio16-sub-heading {
    color: var(--bs-body-color);
    font-size: 22px;
    line-height: 1.5;
    opacity: 0.8;
  }
  
  .ezy__portfolio16-btn {
    padding: 12px 30px;
    color: #fff;
    background-color: var(--ezy-theme-color);
  }
  .ezy__portfolio16-btn:hover {
    color: #fff;
    background-color: rgba(var(--ezy-theme-color-rgb), 0.9);
  }
  
  .ezy__portfolio16-card {
    border-radius: 10px;
  }
  .ezy__portfolio16-card:nth-child(1n) {
    background-color: #e9f3fe;
  }
  .ezy__portfolio16-card:nth-child(2n) {
    background-color: #f4fef9;
  }
  .ezy__portfolio16-card:nth-child(3n) {
    background-color: #fef8e6;
  }
  .ezy__portfolio16-row .ezy__portfolio16-card:nth-of-type(1n) .ezy__portfolio16-img {
    background-color: #f4f9ff;
  }
  .ezy__portfolio16-row .ezy__portfolio16-card:nth-of-type(2n) .ezy__portfolio16-img {
    background-color: #edfff6;
  }
  .ezy__portfolio16-row .ezy__portfolio16-card:nth-of-type(3n) .ezy__portfolio16-img {
    background-color: #f4fef9;
  }
  
  .ezy__portfolio16-img {
    border-radius: 10px;
    background-color: #fffcf3;
  }
  
  .ezy__portfolio16-card-title {
    font-size: 28px;
    line-height: 1.2;
    font-weight: 700;
  }
  @media (min-width: 768px) {
    .ezy__portfolio16-card-title {
      font-size: 36px;
    }
  }
  @media (min-width: 1200px) {
    .ezy__portfolio16-card-title {
      font-size: 44px;
    }
  }
  
  .ezy__portfolio16-card-sub-title {
    font-size: 16px;
    line-height: 1.8;
    opacity: 0.8;
  }
  
  .ezy__portfolio16-card-btn {
    padding: 12px 30px;
    color: #fff;
    background-color: var(--ezy-theme-color);
  }
  
  .ezy__portfolio16-card-btn:hover {
    color: #fff;
    background-color: rgba(var(--ezy-theme-color-rgb), 0.9);
  }
