<app-header></app-header>

<div style="padding: 100px;
    height: 86vh;">
    <div class="container-fluid" style="display: flex; justify-content: center; ;">
        <!-- Sidebar -->
        <div class="row">
            <div class="col-md-3 bg-light p-4" style="border-radius: 5px">
                <div class="mb-4">
                    <h4 class="text-dark font-weight-bold mb-2">Tài Khoản Của Tôi</h4>
                    <ul class="list-unstyled">
                        <li class="mb-2">
                            <p (click)="changeOption(1)"
                                [ngClass]="{'text-danger': option_menu === 1, 'text-dark': option_menu !== 1}">Hồ Sơ</p>
                        </li>

                        <li class="mb-2">
                            <p (click)="changeOption(2)"
                                [ngClass]="{'text-danger': option_menu === 2, 'text-dark': option_menu !== 2}">Đổi Mật
                                Khẩu</p>
                        </li>

                    </ul>
                </div>
            </div>

            <!-- Main Content -->
            <div class="col-md-9">

                <div *ngIf="option_menu == 1" class="card">
                    <ng-container *ngIf="!isChangeEmail && !isSuccessSendEmailCode">
                        <div class="card-body" *ngIf="userResponse">
                            <h1 class="card-title fs-4 fw-bold mb-3">Hồ Sơ Của Tôi</h1>
                            <p class="text-muted border-bottom pb-3 mb-4">Quản lý thông tin hồ sơ để bảo mật tài khoản
                            </p>



                            <div class="mb-3 row" *ngFor="let field of fields">
                                <label class="col-sm-3 col-form-label">{{ field.label }}:</label>
                                <div class="col-sm-9 d-flex justify-content-between align-items-center">
                                    <ng-container *ngIf="isEditingField !== field.name; else editFieldTemplate">
                                        <ng-container *ngIf="editedUserResponse[field.name]; else noValueTemplate">
                                            {{ field.name === 'date_of_birth' ?
                                            formatDate_2(editedUserResponse[field.name]) :
                                            editedUserResponse[field.name] }}
                                            <button class="btn btn-secondary" (click)="startEditing(field.name)">Thay
                                                Đổi</button>
                                        </ng-container>
                                        <ng-template #noValueTemplate>
                                            Chưa cập nhật
                                            <button class="btn btn-primary"
                                                (click)="startEditing(field.name)">Thêm</button>
                                        </ng-template>
                                    </ng-container>

                                    <ng-template #editFieldTemplate>
                                        <ng-container *ngIf="field.name != 'email'">

                                            <input [type]="field.type" class="form-control me-3"
                                                [(ngModel)]="editedUserResponse[field.name]" />
                                            <button class="btn btn-primary me-2" (click)="finishEditing()">Lưu</button>
                                            <button class="btn btn-secondary" (click)="cancelEditing()">Hủy</button>
                                        </ng-container>

                                    </ng-template>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-sm-9  offset-sm-3">
                                    <button class="btn btn-danger" (click)="saveInfo()">Lưu</button>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <!-- <div *ngIf="isChangeEmail" class="d-flex align-items-center justify-content-center bg-light">
                      
                        <div class="bg-white p-5 rounded  shadow text-center">
                            <button (click)="isChangeEmail = !isChangeEmail" class="btn  button-position" >
                                <i class="fas fa-arrow-left me-2"></i> Trở lại
                            </button>
                            <div class="mb-4">
                                <i class="fas fa-shield-alt text-danger fs-1"></i>
                            </div>
                            <p class="fs-5 mb-4">
                                Để tăng cường bảo mật cho tài khoản của bạn, hãy xác minh thông tin<br>
                                bằng một trong những cách sau.
                            </p>
                            <div class="d-flex justify-content-center">
                                <button (click)="sendVerifyCode('email')" class="btn btn-outline-secondary d-flex align-items-center px-4 py-2">
                                    <i class="fas fa-envelope me-2"></i>
                                    Xác minh bằng liên kết Email
                                </button>
                            </div>
                        </div>
                    </div> -->
                    <!-- Nhập email mới -->
                    <div class="card-body" *ngIf="isChangeEmail">
                        <button (click)="isChangeEmail = !isChangeEmail" class="btn  button-position">
                            <i class="fas fa-arrow-left me-2"></i> Trở lại
                        </button>
                        <h1 style="margin-top: 25px;" class="card-title fs-4 fw-bold mb-3">Thay đổi địa chỉ email</h1>
                        <p class="text-muted border-bottom pb-3 mb-4">Để bảo mật tài khoản, vui lòng không chia sẻ địa
                            chỉ email cho người khác</p>
                        <div class="mb-4">
                            <label class="form-label" for="confirm-email">
                                Địa chỉ email mới
                            </label>
                            <div class="input-group">
                                <input type="email" required [(ngModel)]="this.email_new" class="form-control"
                                    id="confirm-email" placeholder="abc@gmail.com">

                            </div>
                        </div>

                        <div class="d-flex justify-content-center">
                            <button class="btn btn-danger" (click)="sendVerifyCode('email')" type="button">
                                Tiếp theo
                            </button>
                        </div>

                    </div>
                     <!-- Nhập code gửi về email -->
                    <section *ngIf="isSuccessSendEmailCode" class="container-fluid bg-body-tertiary d-block">
                        <div class="row justify-content-center">
                            <div class="col-12 col-md-6 col-lg-4" style="min-width: 500px;">
                                <div class="card bg-white mb-5 mt-5 border-0"
                                    style="box-shadow: 0 12px 15px rgba(0, 0, 0, 0.02);">
                                    <div class="card-body p-5 text-center">
                                        <h4>Nhập mã xác nhận</h4>
                                        <p>Mã xác minh đã được gửi về email {{userResponse.email}}</p>

                                        <div class="otp-field mb-4">
                                            <input *ngFor="let control of otp; let i = index" type="text"
                                                [(ngModel)]="otp[i]" (input)="onInput(i)" maxlength="1"
                                                class="otp-input" />
                                        </div>

                                        <button class="btn btn-primary mb-3" [disabled]="!isVerifyEnabled()"
                                            (click)="verifyEmailCode()">
                                            Xác nhận
                                        </button>

                                        <p class="resend text-muted mb-0">
                                            Không nhận được mã? <a href="">Gửi lại</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    
                </div>



                <div *ngIf="option_menu == 2" class="card">
                    <!-- xac thuc qua code tu email -->
                    <div *ngIf="!isSuccessVerifyCode" class="d-flex align-items-center justify-content-center bg-light">
                        <div class="bg-white p-5 rounded shadow text-center">
                            <div class="mb-4">
                                <i class="fas fa-shield-alt text-danger fs-1"></i>
                            </div>
                            <p class="fs-5 mb-4">
                                Để tăng cường bảo mật cho tài khoản của bạn, hãy xác minh thông tin<br>
                                bằng một trong những cách sau.
                            </p>
                            <div class="d-flex justify-content-center">
                                <button (click)="sendVerifyCode('password')"
                                    class="btn btn-outline-secondary d-flex align-items-center px-4 py-2">
                                    <i class="fas fa-envelope me-2"></i>
                                    Xác minh bằng liên kết Email
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- Nhap code tu email -->
                    <section *ngIf="isSuccessSendCode" class="container-fluid bg-body-tertiary d-block">
                        <div class="row justify-content-center">
                            <div class="col-12 col-md-6 col-lg-4" style="min-width: 500px;">
                                <div class="card bg-white mb-5 mt-5 border-0"
                                    style="box-shadow: 0 12px 15px rgba(0, 0, 0, 0.02);">
                                    <div class="card-body p-5 text-center">
                                        <h4>Xác thực</h4>
                                        <p>Mã xác thực đã được gửi về email của bạn, vui lòng kiểm tra</p>

                                        <div class="otp-field mb-4">
                                            <input *ngFor="let control of otp; let i = index" type="text"
                                                [(ngModel)]="otp[i]" (input)="onInput(i)" maxlength="1"
                                                class="otp-input" />
                                        </div>

                                        <button class="btn btn-primary mb-3" [disabled]="!isVerifyEnabled()"
                                            (click)="verifyPasswordCode()">
                                            Xác nhận
                                        </button>

                                        <p class="resend text-muted mb-0">
                                            Didn't receive code? <a href="">Request again</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!--Tien hanh` doi mat khau  -->
                    <div class="card-body" *ngIf="userResponse && isOpenResetPassword">
                        <h1 class="card-title fs-4 fw-bold mb-3">Thêm mật khẩu</h1>
                        <p class="text-muted border-bottom pb-3 mb-4">Để bảo mật tài khoản, vui lòng không chia sẻ mật
                            khẩu cho người khác</p>
                        <div class="mb-4">
                            <label class="form-label" for="new-password">
                                Mật khẩu mới
                            </label>
                            <div class="input-group">
                                <input type="password" [(ngModel)]="this.password_new" class="form-control"
                                    id="new-password" placeholder="">

                            </div>
                        </div>

                        <div class="mb-4">
                            <label class="form-label" for="confirm-password">
                                Nhập lại mật khẩu
                            </label>
                            <div class="input-group">
                                <input type="password" [(ngModel)]="this.password_new_check" class="form-control"
                                    id="confirm-password" placeholder="">

                            </div>
                        </div>

                        <div class="d-flex justify-content-center">
                            <button class="btn btn-danger" (click)="updatePassword()" type="button">
                                Xác Nhận
                            </button>
                        </div>



                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<app-skeleton-loader *ngIf="isLoading"></app-skeleton-loader>
<app-footer></app-footer>