<app-header></app-header>

    <section class="ezy__signin1_VjHlH1lB d-flex align-items-center">
        <div class="container">
          <div class="row  justify-content-center formlogin">
            <div class="col-lg-5">
              <div class="card ezy__signin1_VjHlH1lB-form-card">
                <div class="card-body pt-5 pe-5 ps-5 pb-0">
                  <h2 class="ezy__signin1_VjHlH1lB-heading mb-4 mb-md-5">Đăng nhập</h2>
      
                  <form class="" [formGroup]="loginForm" (ngSubmit)="login()">
                    <div formGroupName="user">
                    <div class="form-group mb-4 mt-2">
                      <label for="user_name" class="mb-2">Tên tài khoản</label>
                      <input type="text" formControlName="user_name" class="form-control" id="user_name" placeholder="Điền vào tên tài khoản của bạn." />
                      <!-- <div class="divider-nospace"></div> -->
                      <!-- <div class="text-danger" *ngIf="user_name?.invalid && (user_name?.dirty || 
                      user_name?.touched)">
                          <div *ngIf="user_name?.errors?.['required']">
                              Tên tài khoản là bắt buộc
                          </div>
                      </div> -->
                    </div>
                    <div class="form-group mb-2 mt-2">
                      <label for="password" class="mb-2">Mật khẩu</label>
                      <input type="password" formControlName="password" class="form-control" id="password" placeholder="Điền vào mật khẩu của bạn." />
                      <!-- <div class="divider-nospace"></div> -->
                      <!-- <div class="text-danger" *ngIf="password?.invalid && (password?.dirty || 
                      password?.touched)">
                          <div *ngIf="password?.errors?.['required']">
                              Mật khẩu là bắt buộc
                          </div>
                      </div> -->
                    </div>
                    <!-- <div class="form-group mb-3">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" formControlName="rememberMe" value="" id="remember-me" checked />
                        <label class="form-check-label" for="remember-me" > Ghi nhớ đăng nhập </label>
                      </div>
                    </div> -->
                    <!-- <div class="form-group mb-3">
                        <select class="form-control access-right" formControlName="role">
                            <option selected disabled>Quyền đăng nhập</option>
                            <option *ngFor="let role of roles" [ngValue]="role.id">
                                {{ role.name.toUpperCase() }}
                            </option>
                        </select>
                    </div> -->
                    <button type="submit" class="btn ezy__signin1_VjHlH1lB-btn-submit w-100">Đăng nhập</button>
                    <button class="btn w-100" routerLink="/forgot-password">Quên mật khẩu?</button>
      
                    
                </div>
                  </form>
                  <!-- <div class="position-relative ezy__signin1_VjHlH1lB-or-separator">
                    <hr class="my-4 my-md-5" />
                    
                  </div> -->
                  <span class="px-2">Or</span>
                  
                  <button (click)="loginWithGoogle()" class="btn btn-danger ezy__signin1_VjHlH1lB-btn w-100 d-flex align-items-center">
                    <span class="fab fa-google text-white fs-4"></span>
                    <span class="w-100 text-center text-white" >Đăng nhập với Google</span>
                  </button>
    
                  <div class="text-center mt-4 ">
                    <p class="mb-0 opacity-50 lh-1">Bạn chưa có tài khoản?</p>
                    <a routerLink="/register" class="btn btn-link py-0 text-dark text-decoration-none">Tạo tài khoản</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    <app-footer></app-footer>