<section class="ezy__epreview4 dark-gray" id="ezy__epreview4">
  <div class="container">
    <div class="row ">
      <div class="col-12 col-lg-10 col-xl-8">
        <div class="card ezy__epreview4-card mb-3">
          <div class="card-body p-md-4">


            <div class="d-flex flex-wrap align-items-center">
              <span class="fs-1">{{ getFullStars(theCartItem) }}</span>
              <span class="ezy__epreview4-rating ms-2">
                <ng-container *ngFor="let star of [].constructor(5); let i = index">

                  <i [ngClass]="getStarClasses(theCartItem, i)"></i>

                </ng-container>
              </span>

            </div>
            <p class="ezy__epreview4-content opacity-75 mb-4">Trung bình đánh giá dựa trên
              {{theCartItem.number_of_rating}} khách hàng khác</p>
            <div>
              <ng-container *ngFor="let star of [5, 4, 3, 2, 1]">
                <div class="row align-items-center mb-2">
                  <div class="col-auto ezy__epreview4-rating-range">
                    <p class="ezy__epreview4-content fw-bold mb-0">
                      <span class="opacity-50">{{ star }}</span>
                      <span class="ezy__epreview4-rating ms-1">
                        <i class="fas fa-star"></i>
                      </span>
                    </p>
                  </div>
                  <div class="col-6">
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" [style.width.%]="getRatingPercentage(star)"
                        aria-valuenow="{{ getRatingPercentage(star) }}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                  <div class="col">
                    <p class="ezy__epreview4-content opacity-50 mb-0">
                      {{ ratingCounts[star] ? ratingCounts[star] : 0 }}
                    </p>
                  </div>
                </div>
              </ng-container>



            </div>
          </div>
          <hr class="ezy__epreview4-hr my-0" />
          <div class="card-body p-md-4">
            <!-- <div class="d-flex justify-content-between">
              <h2 class="fs-4">Customer Review</h2>
              <div>
                <button class="btn ezy__epreview4-btn-outline py-1 px-md-4" (click)="openReviewModal()">New
                  Comment</button>
              </div>
            </div> -->

            <p *ngIf="displayedRatings.length == 0; else displayRatings">Chưa có review</p>


            <ng-template #displayRatings>
              <div *ngFor="let rating of displayedRatings">

                <hr class="ezy__epreview4-hr my-3" />
                <div>
                  <div class="d-flex align-items-center mb-4">
                    <div class="ezy__epreview4-profile rounded-circle me-2 overflow-hidden">
                      <img src="https://cdn.easyfrontend.com/pictures/users/user18.jpg" alt="" class="img-fluid" />
                    </div>
                    <div class="d-flex flex-grow-1 justify-content-between">
                      <div>
                        <h5 class="fs-6 mb-1">{{rating.user.fullname}}</h5>
                        <p class="ezy__epreview4-content fw-light mb-0">
                          <span class="ezy__epreview4-rating">
                            <ng-container *ngFor="let star of [].constructor(5); let i = index">
                              <i [ngClass]="getStarUserClasses(rating.rating.rating, i)"></i>
                            </ng-container>

                          </span>

                          <span class="mx-1">{{rating.rating.rating}}</span>
                        </p>
                      </div>
                      <p class="ezy__epreview4-content opacity-50 mb-0">{{rating.rating.created_at}}</p>
                    </div>
                  </div>
                  <p class="ezy__epreview4-content opacity-75 mb-4">
                    {{rating.rating.content}}
                  </p>
                  <!-- <div class="d-flex justify-content-end">
                      <button
                        class="btn ezy__epreview4-btn-text py-0 d-inline-flex justify-content-center align-items-center text-decoration-none me-4"
                      >
                        <i class="far fa-thumbs-up fs-6 me-2"></i> Like (12)
                      </button>
                      <button
                        class="btn ezy__epreview4-btn-text py-0 d-inline-flex justify-content-center align-items-center text-decoration-none"
                      >
                        <i class="far fa-thumbs-down fs-6 me-2"></i> Dislike (3)
                      </button>
                    </div> -->
                </div>
              </div>

            </ng-template>





          </div>
          <div class="card-body py-4 py-lg-5 text-center">
            <button class="btn ezy__epreview4-btn px-4 px-md-5" (click)="loadMore()" *ngIf="isLoadMoreVisible()">
              Tải thêm
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>